input,
textarea {
  color: var(--content-secondary);
  padding: 12px;
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  background: transparent;
  outline: none;
  width: 100%;
  max-width: 100%;
  resize: vertical;
}
input:hover {
  cursor: pointer;
  border: 1px solid var(--border-brand);
}
textarea:hover {
  cursor: poiter;
  border: 1px solid var(--border-brand);
}
